@import "tailwindcss";

:root {
  --background: #f6f4f1;
  /* rice paper */
  --foreground: #f7ecec;
  /* ink text */
  --accent: #ee2e5b;
  /* sakura pink */
  --accent-strong: #ed113d;
  /* stronger pink for petals */
  --mist: #dcd8d5;
  /* light mist */
  --mountain-1: #6e6a66;
  /* distant dark gray */
  --mountain-2: #9c9793;
  /* mid gray */
  --mountain-3: #cfcac7;
  /* near light gray */
  --shadow: rgba(0, 0, 0, 0.12);
}
body {
  background: url("/images/BG.jpeg") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /* transition effect */
  opacity: 0;
  animation: fadeInBackground 1.5s ease-in-out forwards;
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
    filter: blur(8px);
    transform: scale(1.05);
  }

  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}



[data-theme="yin"] {
  --background: #080808;
  --foreground: #f5f5f5;
  --accent: #d50a28;
  --accent-strong: #ef0b39;
  --mist: #2a2a2a;
  --mountain-1: #111214;
  --mountain-2: #2b2b2b;
  --mountain-3: #444344;
  --shadow: rgba(0, 0, 0, 0.35);
}

.global-font {
  font-family: "Ysabeau SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-hand {
  font-family: "Edu AU VIC WA NT Hand", cursive;
}
html {
  scroll-behavior: smooth;
}
.font-rubik {
  font-family: "Rubik Vinyl", system-ui;
}

.font-bbh {
  font-family: "BBH Sans Hegarty", sans-serif;
}


@keyframes petal-fall {
  0% {
    transform: translateY(-10%) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    transform: translateY(50vh) translateX(20px) rotate(180deg);
    opacity: 0.9;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(110vh) translateX(-20px) rotate(360deg);
    opacity: 0;
  }
}

.animate-petal-fall {
  animation-name: petal-fall;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
  top: -5%;
}